.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 29px 0;
  color: #fff;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItems {
  display: flex;
  align-items: center;
  list-style: none;
}

.navItem {
  margin-right: 50px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: border 0.3s ease;
}

.navLink:hover {
  border-bottom: 1px solid #fff;
}

.headerSticky {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  color: #1b1f2b;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(54px);
}

.headerSticky .navLink,
.headerSticky .headerTel a {
  color: #1b1f2b;
}

.headerSticky .navLink:hover {
  border-bottom: 1px solid #1b1f2b;
}

.headerTel {
  font-size: 20px;
}

.headerTel a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1919px) {
  @viewport {
    max-width: 1919px;
  }

  .navItem {
    margin-right: 30px;
  }

  .navItem:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .nav {
    display: none;
  }

  .headerLogo {
    width: 133px;
  }

  .navItems {
    display: none;
  }

  .headerTel {
    font-size: 16px;
  }
}
