.button {
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &.main {
    background: #fff;
    color: #1b1f2b;

    &:hover {
      background: #efa501;
      color: #fff;
    }

    &:active {
      background: #f8e6be;
      color: #000;
    }
  }

  &.green {
    background: #286562;

    &:hover {
      background: #3b7e7b;
    }

    &:active {
      background: #627f7e;
    }
  }

  &.lightgreen {
    background: #e0f0e5;
    color: #286562;

    &:hover {
      background: #f1f3f2;
      color: #286562;
    }

    &:active {
      background: #d9dfdb;
      color: #286562;
    }
  }
}
