@import "../../../styles/mixins.scss";

.textarea {
  width: 100%;
  padding: 20px;
  min-height: 150px;
  margin-bottom: 33px;
  color: #1b1f2b;
  line-height: 142%;
  font-size: 20px;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  resize: vertical;

  &:hover {
    background: #f4f0e9;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: 1px solid #a6a6a6;
  }

  &::placeholder {
    color: #a6a6a6;
  }

  @include _1023 {
    padding: 10px;
    font-size: 16px;
  }
}
