.historyItem {
  position: relative;
  padding: 60px;
  margin-bottom: 50px;
  width: 100%;
  height: 567px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
}

.historyItem:last-child {
  margin-bottom: 0;
}

.historyItem:hover .historyImage {
  transform: scale(1.2);
}

.historyItem:hover .historyMore {
  padding: 7px 20px;
  margin-left: -20px;
  margin-bottom: -7px;
  background: #286562;
  border-radius: 50px;
  cursor: pointer;
}

.historyItem:hover .historyMore:active {
  background: #efa501;
}

.historyImage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 567px;
  transition: all 0.3s ease;
  object-fit: cover;
}

.historyItem::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  content: "";
}

.historyItemInfo {
  position: absolute;
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;
  z-index: 3;
}

.historyItemTitle {
  margin-bottom: 37px;
  width: 554px;
  color: #fff;
}

.historyItemSubtitle {
  width: 554px;
  color: #fff;
}

.historyItemList {
  margin-top: 30px;
  list-style-position: inside;
}

.historyItemLi {
  color: #fff;
}

.historyItemLi h5 {
  display: inline;
}

.historyBottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.historyMore {
  display: flex;
  align-items: center;
  color: #fff;
  background: transparent;
  border: none;
  transition: all 0.3s ease;
}

.historyArrow {
  margin-left: 16px;
}

.historySocials {
  position: relative;
  display: flex;
  align-items: center;
}

.historySocial {
  position: relative;
  margin-right: 35px;
  color: #fff;
}

.historySocial:hover::after {
  content: "";
  width: 100%;
  background: #fff;
}

.historySocial::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}

.historySocial:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
}

.historySocial:active::after {
  content: "";
  background: #efa501;
}

.historySocial:active h5 {
  color: #efa501;
}

.historySocial:last-child {
  margin-right: 0;
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .historyItem {
    padding: 30px;
    margin-bottom: 20px;
    height: 455px;
    border-radius: 20px;
  }

  .historyItemInfo {
    top: 30px;
    right: 30px;
    left: 30px;
    bottom: 30px;
  }

  .historyItemTitle {
    width: 100%;
  }

  .historyItemSubtitle {
    width: 100%;
  }

  .historySocials {
    display: none;
  }

  .historyImage {
    height: 100%;
  }

  .historyItem {
    pointer-events: none;
  }
}
