.button {
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.main {
  background: #fff;
  color: #1b1f2b;
}

.button.main:hover {
  background: #efa501;
  color: #fff;
}

.button.main:active {
  background: #f8e6be;
  color: #000;
}

.button.green {
  background: #286562;
}

.button.green:hover {
  background: #3b7e7b;
}

.button.green:active {
  background: #627f7e;
}

.button.lightgreen {
  background: #e0f0e5;
  color: #286562;
}

.button.lightgreen:hover {
  background: #f1f3f2;
  color: #286562;
}

.button.lightgreen:active {
  background: #d9dfdb;
  color: #286562;
}
