@import "../../../styles/mixins.scss";

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  padding: 70px;
  background: #fff;
  border-radius: 50px;

  @include _1919 {
    padding: 60px;
  }

  @include _1023 {
    padding: 20px 20px 40px;
    border-radius: 30px;
  }

  .formItem {
    width: 500px;
    margin-bottom: 33px;

    @include _1919 {
      width: 389px;
    }

    @include _1023 {
      width: 100%;
      margin-bottom: 30px;
    }

    .formRadioBtns {
      display: flex;

      .formStrong {
        display: flex;
        align-items: center;
        margin-right: 31px;
        font-weight: 400;

        &:last-child {
          margin-right: 0;
        }

        .formRadio {
          width: 26px;
          height: 26px;
          border: 2px solid #000;

          &:checked + .formRadioLabel .formRadioLabelChecked {
            opacity: 1;
          }
        }

        .formRadioLabel {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          cursor: pointer;
          border: 2px solid #000;
          border-radius: 50%;

          @include _1023 {
            width: 20px;
            height: 20px;
          }

          .formRadioLabelChecked {
            width: 12px;
            height: 12px;
            background: #000;
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s ease;

            @include _1023 {
              width: 10px;
              height: 10px;
            }
          }
        }

        span {
          margin-left: 11px;
          font-size: 20px;

          @include _1023 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .formComment {
    width: 100%;
  }

  .formContract {
    display: flex;
    align-items: center;
    width: 100%;

    @include _1023 {
      display: flex;
      align-items: flex-start;
    }

    .formCheckbox {
      width: 26px;
      height: 26px;

      &:checked + .formContractLabel::after {
        width: 16px;
        height: 16px;
        background-image: url("../../../public/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        content: "";
      }

      @include _1023 {
        &:checked + .formContractLabel .formContractLabelChecked {
          width: 10px;
          height: 10px;
        }
      }
    }

    .formContractLabel {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      cursor: pointer;
      border: 2px solid #000;
      border-radius: 5px;

      @include _1023 {
        width: 20px;
        height: 20px;
      }
    }

    span {
      margin-left: 19px;
      color: #a6a6a6;

      @include _1919 {
        margin-left: 11px;
      }

      @include _1023 {
        width: 248px;
        margin-left: 10px;
      }

      strong {
        color: #1b1f2b;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          color: #286562;
        }

        @include _1023 {
          &:hover {
            text-decoration: none;
          }

          &:active {
            color: #1b1f2b;
          }
        }
      }
    }
  }

  .formButtons {
    margin-top: 33px;

    .findBtn {
      padding: 15px 70.5px;
      margin-right: 30px;
      font-size: 20px;

      @include _1023 {
        padding: 12px 29.5px;
        margin-right: 10px;
        font-size: 16px;
      }
    }

    .resetBtn {
      padding: 15px 72.5px;
      font-size: 20px;

      @include _1023 {
        padding: 12px 29.5px;
        font-size: 16px;
      }
    }
  }
}
