.photos {
  padding-top: 135px;
}

.photosTitle {
  margin: 0 auto;
  width: 723px;
  text-align: center;
}

.photosSubtitle {
  margin: 30px auto 100px;
  width: 418px;
  color: #a6a6a6;
  text-align: center;
}

.photosItems {
  display: grid;
  grid-row-gap: 30px;
  margin: 0 30px;
}

.photosBig {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photosSmall {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photoItemBig {
  width: 442.5px;
  height: 300px;
  border-radius: 50px;
  object-fit: cover;
}

.photoItemSmall {
  width: 349px;
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 1919px) {
  @viewport {
    max-width: 1919px;
  }

  .photosItems {
    display: grid;
    grid-row-gap: 30px;
    margin: 0 auto;
    width: 984px;
  }

  .photoItemBig {
    width: 314.67px;
    height: 300px;
    object-position: center;
    object-fit: cover;
  }

  .photoItemSmall {
    width: 231px;
    height: 301px;
  }

  .photoItemBig.desktop,
  .photoItemSmall.desktop {
    display: none;
  }
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .photos {
    padding-top: 75px;
  }

  .photosTitle {
    width: 318px;
  }

  .photosSubtitle {
    margin: 20px auto 50px;
    width: 318px;
  }

  .photosItems {
    display: grid;
    grid-row-gap: 18px;
    margin: 0 auto;
    width: 318px;
  }

  .photoItemBig {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }

  .photoItemSmall {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
  }

  .photoItemBig.desktop,
  .photoItemBig.mobile,
  .photoItemSmall.desktop,
  .photoItemSmall.mobile {
    display: none;
  }
}
