.choose {
  padding-top: 135px;
}

.chooseTitle {
  text-align: center;
}

.chooseItems {
  display: flex;
  justify-content: space-between;
  margin: 35px auto 100px;
  width: 700px;
  list-style: none;
}

.chooseTours {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (max-width: 1919px) {
  @viewport {
    max-width: 1919px;
  }

  .chooseTours {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .choose {
    padding-top: 75px;
  }

  .chooseTitle {
    font-size: 23px;
  }

  .chooseItems {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 30px auto 50px;
    width: 100%;
  }

  .chooseItem {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .chooseTours {
    display: block;
  }

  .chooseItem label {
    font-size: 16px;
  }
}
