.choose {
  padding-top: 135px;
}

.chooseTitle {
  text-align: center;
}

.chooseItems {
  display: flex;
  justify-content: space-between;
  margin: 35px auto 100px;
  width: 700px;
  list-style: none;
}

.chooseItem {
  position: relative;
  margin-right: 30px;
  transition: all 0.3s ease;
}

.chooseItem label {
  display: block;
  width: 100%;
  color: #1b1f2b;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.chooseItem label::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}

.chooseItem label:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #1b1f2b;
}

.chooseItem input {
  display: none;
}

.chooseItem input:checked + label {
  color: #efa501;
}

.chooseItem input:checked + label::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #efa501;
}

.chooseItem:last-child {
  margin-right: 0;
}

.chooseTours {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (max-width: 1919px) {
  @viewport {
    max-width: 1919px;
  }

  .chooseTours {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .choose {
    padding-top: 75px;
  }

  .chooseTitle {
    font-size: 23px;
  }

  .chooseItems {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 30px auto 50px;
    width: 100%;
  }

  .chooseItem {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .chooseTours {
    display: block;
  }

  .chooseItem label {
    font-size: 16px;
  }
}
