.h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 104.64px;
  letter-spacing: 0.02em;
}

.h2 {
  font-size: 59px;
  font-weight: 700;
  line-height: 73.16px;
}

.h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
}

.h4 {
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
}

.h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}

.h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .h1 {
    font-size: 34px;
    line-height: 38px;
  }

  .h2 {
    font-size: 34px;
    line-height: 38px;
  }

  .h3 {
    font-size: 23px;
    letter-spacing: 0.04em;
    line-height: 28px;
  }

  .h4 {
    font-size: 16px;
    line-height: 22px;
  }

  .h5 {
    font-size: 16px;
    line-height: 23px;
  }

  .h6 {
    font-size: 16px;
  }
}
