@import "../../../styles/mixins.scss";

.select {
  width: 100%;
  padding: 20px;
  color: #1b1f2b;
  background-color: #f9f7f4;
  background-image: url("../../../public/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 20px);
  font-size: 20px;
  line-height: 142%;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  appearance: none;

  @include _1023 {
    padding: 10px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  &:invalid {
    color: #a6a6a6;
  }

  &::-ms-expand {
    display: none;
  }

  &:hover {
    background-color: #f4f0e9;
    cursor: pointer;
  }

  .option {
    &::selection {
      color: #a6a6a6;
    }
  }
}
