.footer {
  background: #f4f0e9;
  padding: 30px 0;
}

.footerBlock {
  display: flex;
  justify-content: space-between;
}

.footerTitle {
  color: #a6a6a6;
}

.footerSocials {
  display: flex;
}

.footerSocial {
  margin-right: 25px;
  display: flex;
  align-items: baseline;
  color: #1b1f2b;
  text-decoration: none;
}

.footerSocial img {
  margin-right: 10px;
  height: fit-content;
}

.footerSocial:last-child {
  margin-right: 0;
}

.footerSocial:hover .footerSocialTitle {
  border-bottom: 1px solid #000;
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .footer {
    padding: 21px 0;
  }

  .footerBlock {
    display: block;
    text-align: center;
  }

  .footerTitle {
    margin-bottom: 7px;
  }

  .footerSocials {
    margin: 0 auto;
    width: 314px;
  }

  .footerSocial {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .footerSocial img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .footerSocial:hover .footerSocialTitle {
    border: none;
  }
}
