.history {
  padding-top: 135px;
}

.historyTitle {
  margin: 0 auto;
  width: 723px;
  text-align: center;
}

.historySubtitle {
  margin: 30px auto 100px;
  width: 418px;
  color: #a6a6a6;
  text-align: center;
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .history {
    padding-top: 75px;
  }

  .historyTitle {
    width: 100%;
  }

  .historySubtitle {
    margin: 20px 0 50px;
    width: 100%;
  }
}
