.reviewsItem {
  position: relative;
  padding: 40px;
  width: 570px;
  background: #f4f0e9;
  border-radius: 50px;
}

.reviewsText {
  height: 75%;
}

.reviewsInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  height: 75px;
}

.infoImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.infoName {
  margin-bottom: 8px;
}

.infoTour {
  color: #a6a6a6;
}

@media (max-width: 1919px) {
  @viewport {
    max-width: 1919px;
  }

  .reviewsItem {
    width: 450px;
  }

  .reviewsText {
    height: 80%;
  }
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .reviewsItem {
    margin-bottom: 18px;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
  }

  .reviewsItem:last-child {
    margin-bottom: 0;
  }

  .reviewsText {
    height: fit-content;
  }

  .reviewsInfo {
    margin-top: 40px;
  }
}
