.collect {
  padding-top: 135px;
}

.collectTitle {
  text-align: center;
}

.collectSubtitle {
  margin: 30px auto 100px;
  width: 409px;
  color: #a6a6a6;
  text-align: center;
}

.collectForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  padding: 70px;
  background: #fff;
  border-radius: 50px;
}

@media (max-width: 1919px) {
  @viewport {
    max-width: 1919px;
  }

  .collectForm {
    padding: 60px;
  }
}

@media (max-width: 1023px) {
  @viewport {
    max-width: 1023px;
  }

  .collect {
    padding-top: 75px;
  }

  .collectSubtitle {
    margin: 20px 0 40px;
    width: 100%;
  }

  .collectForm {
    padding: 20px 20px 40px;
    border-radius: 30px;
  }
}
